@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Noto+Emoji:wght@600&family=Raleway:wght@700&display=swap');

:root {
    --background: white;
    --primarytext: #0d0d0c;
}

* {
    cursor: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--primarytext);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100%;
    overflow-x: hidden;
}

/** NAVIGATION BAR **/

#navbar {
    background-color: var(--background);
    position: fixed;
    top: -50px;
    width: 100%;
    height: 45px;
    max-height: 45px;
    display: block;
    transition: ease;
    transition-duration: .7s;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--primarytext);
}

#navbar a {
    float: left;
    display: block;
    color: var(--primarytext);
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 15px;
    stroke: black;
    fill: none;
    margin: 0;
    transition: ease;
    transition-duration: .7s;
}

#navbar a:hover {
    color: var(--background);
    background-color: var(--primarytext);
    text-decoration:underline;
    stroke: white;
}

/** TITLE (NAME + MAJOR) **/

.title {
    background-size: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.title h1 {
    font-size: 60px;
}

.title h2 {
    margin-top: -30px;
    font-size: 25px;
    font-weight: 300;
}

/** SOCIAL MEDIA **/

.button{
    margin-top: -5px;
    background-color: transparent;
    height: 35px;
    width: 35px;
    border-radius: 15px;
    transition: ease;
    transition-duration: .7s;
    display:  inline-block;
    stroke: var(--primarytext);
    text-align: center;
    vertical-align: middle;
    fill: none;
}
.button:hover{
    background-color: var(--primarytext);
    stroke: var(--background);
}

svg{
    display: block;
    margin: 5px auto auto;
}

svg:hover{
    display: block;
    margin: 5px auto auto;
}

/** COOL STUFF: CURSOR + SELECTION **/

.custom-cursor {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: white;
    transition: transform 350ms ease;
    transform: translate(-50%, -50%) scale(.3);
    z-index: 1000;
}
.custom-cursor--link {
    transform: translate(-50%, -50%) scale(1);
}

::selection {
    background: var(--primarytext);
    color: var(--background);
}

/** ABOUT CONTENT DIVIDER **/

.about {
    max-width: 60%;
    margin: auto;
    padding: 4% 6%; /** top/bottom, left/right **/
    font-size: 15px;
    background-color: var(--background);
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 30px solid;
    border-color: var(--primarytext);
    overflow: hidden;
    min-height: 200px;
    text-align: center;
    vertical-align: middle;
}

.about a {
    color: black;
    transition: ease;
    transition-duration: .7s;
}

.about a:hover {
    color: white;
    background-color: black;
}

/** ABOUT CHILD DIVS **/

.about_child1 {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

.about_child2 {
    display: inline-block;
    max-width: 64%;
    vertical-align: middle;
    margin: auto;
    padding: 2%;
}

.about_child1 img {
    width: 250px;
    max-width: 90%;
    height: auto;
    border-radius: 50%;
}

/** PROJECTS CONTENT DIVIDER **/

.projects_container {
    padding-top: 2%;
    text-align: center;
}

/** PROJECTS **/

.projects {
    max-width: 60%;
    margin: auto auto 1%;
    padding: 6% 6%; /** top/bottom, left/right **/
    font-size: 15px;
    background-color: var(--background);
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: var(--primarytext);
    overflow: hidden;
    min-height: 200px;
    text-align: center;
    vertical-align: middle;

    display: flex;
    align-items: center;
}

.projects a {
    color: black;
    transition: ease;
    transition-duration: .7s;
}

.projects a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}

/** PROJECTS END **/

.projects_end {
    max-width: 60%;
    margin: auto auto 1%;
    padding: 6% 6%; /** top/bottom, left/right **/
    font-size: 15px;
    background-color: var(--background);
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 30px solid;
    border-color: var(--primarytext);
    overflow: hidden;
    min-height: 200px;
    text-align: center;
    vertical-align: middle;

    display: flex;
    align-items: center;
}

.projects_end a {
    color: black;
    transition: ease;
    transition-duration: .7s;
}

.projects_end a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}

/** PROJECT CHILD DIVS **/

.projects_child1 {
    display: inline-block;
    margin: auto;
}

.projects_child2 {
    display: inline-block;
    max-width: 43%;
    margin: auto 3% auto auto;
}

/** MEDIA QUERIES **/

@media only screen and (max-width: 1000px) {

    .title h1 {
        font-size: 40px;
    }

    .title h2 {
        margin-top: -17px;
        font-size: 20px;
    }

    .about_child2 {
        max-width: 85%;
    }

    .projects {
        display: block;
    }
    .projects_end {
        display: block;
    }

    .projects_child2 {
        max-width: 85%;
    }
}

/** NO SELECTION **/

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/** DARK MODE SLIDER **/

[data-theme="dark"] {

    --background: #0d0d0c;
    --primarytext: white;
}

.switch {
    height: 60px;
    position: relative;
    top: 11px;
    left: 20px;
}

.theme-switch {
    display: inline-block;
    height: 21px;
    position: relative;
    width: 54px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 13px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 13px;
}

input:checked + .slider {
    background-color: #2b2b2b;
}

input:checked + .slider:before {
    transform: translateX(33px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}