@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Noto+Emoji:wght@600&family=Raleway:wght@700&display=swap');

:root {
    --background: #f5f0ef;
    --contentbg: white;
    --primarytext: #0d0d0c;
}

* {
    cursor: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--primarytext);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100%;
    overflow-x: hidden;
}

/** NAVIGATION BAR **/

#navbar {
    background-color: var(--contentbg);
    position: fixed;
    top: -50px;
    width: 100%;
    height: 45px;
    max-height: 45px;
    display: block;
    transition: ease;
    transition-duration: .7s;
    border-bottom-color: var(--primarytext);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#navbar a {
    float: left;
    display: block;
    color: var(--primarytext);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    stroke: black;
    fill: none;
    margin: 0;
    transition: ease;
    transition-duration: .7s;
}

#navbar a:hover {
    color: var(--background);
    background-color: var(--primarytext);
    text-decoration:underline;
    stroke: white;
}

/** TITLE (NAME + MAJOR) **/

.title {
    background-size: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.title h1 {
    font-size: 6em;
    max-font-size: 90%;
}

.title h2 {
    margin-top: -60px;
    font-size: 1.5em;
    font-weight: 300;
    max-font-size: 60%;
}

/** SOCIAL MEDIA **/

.button{
    margin-top: -5px;
    background-color: transparent;
    height: 35px;
    width: 35px;
    border-radius: 15px;
    transition: ease;
    transition-duration: .7s;
    display:  inline-block;
    stroke: black;
    border: 3px black;
    text-align: center;
    vertical-align: middle;
    fill: none;
}
.button:hover{
    background-color: var(--primarytext);
    stroke: white;
}

svg{
    display: block;
    margin: 5px auto auto;
}

svg:hover{
    display: block;
    margin: 5px auto auto;
}

/** COOL STUFF: CURSOR + SELECTION **/
.custom-cursor {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--background);
    transition: transform 350ms ease;
    transform: translate(-50%, -50%) scale(.3);
    z-index: 1000;
}
.custom-cursor--link {
    transform: translate(-50%, -50%) scale(1);
}

::selection {
    background: var(--primarytext);
    color: var(--background);
}

/** ABOUT / WORK / PROJECTS CONTENT DIVIDER **/

.content {
    max-width: 90%;
    padding: 10%;
    display: inline-block;
    font-size: 16px;
    background-color: var(--contentbg);
    border-top-color: var(--primarytext);
    border-top-width: 1px;
    border-top-style: solid;
    overflow: hidden;
    min-height: 200px;
    text-align: center;
}

/** ABOUT **/
.aboutchild {
    display: inline-block;
    vertical-align: top;
}

.aboutchild img {
    border-radius: 50%;
}