@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --background: #f5f0ef;
    --primarytext: #0d0d0c;
    --secondarytext: #817F7E;
    --border: #D8D4D3;
    --accent: #d33f49;
    --highlight: #F5E6D8;
    --linkcolor: #d33f49;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--primarytext);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: 0;
}

/** NAVIGATION BAR **/

#navbar {
    background-color: white;
    position: fixed;
    top: -50px;
    width: 100%;
    max-height: 45px;
    display: block;
    transition: top 0.3s;
    border-bottom-width: 10px;
    border-bottom-color: black;
}

#navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

#navbar a:hover {
    color: white;
    background-color: var(--linkcolor);
    text-decoration:underline;
    transition: 0.3s;
}

/** TITLE (NAME + MAJOR) **/

.title {
    background-size: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.title h1 {
    font-size: 6em;
}

.title h2 {
    margin-top: -60px;
    font-size: 1.5em;
    font-weight: 300;
}

/** SOCIAL MEDIA **/

.button{
    margin-top: -5px;
    background-color: transparent;
    height: 35px;
    width: 35px;
    border-radius: 15px;
    transition: ease;
    transition-duration: .7s;
    display:  inline-block;
    stroke: black;
    border: 3px black;
    text-align: center;
    vertical-align: middle;
}
.button:hover{
    background-color: black;
    stroke: white;
}

svg{
    display: block;
    margin: 5px auto auto;
}

/** ABOUT / WORK / PROJECTS CONTENT DIVIDER **/

.content {
    padding: 10%;
    max-width: 90%;
    display: block;
    font-size: 16px;
    background-color: white;
}